*.DS_Store

*.sass-cache

db.sqlite3
*.pyc
media/*
env/
NTenv/

htmlcov/
*.coverage

fabfile/

configuration/staging.py
configuration/development.py

# Elastic Beanstalk Files
# .elasticbeanstalk/*
# !.elasticbeanstalk/*.cfg.yml
# !.elasticbeanstalk/*.global.yml
