*.DS_Store

*.sass-cache
static/*
media/*

db.sqlite3
*.pyc
.idea/
env/
NTenv/

/fabfile/*

htmlcov/
*.coverage

fabfile/

# configuration/staging.py
configuration/environment.py
# configuration/production.py
# configuration/development.py

configuration/keys.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
