option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: NT_Tickets/wsgi.py
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:ec2:vpc:
    VPCid: vpc-560f2e33
    Subnets: subnet-f44e05ad
  aws:autoscaling:launchconfiguration:
    EC2KeyName: nt-tickets-keypair
    InstanceType: t2.nano
    SecurityGroups: sg-ef7c578b
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: NT_Tickets.settings
    PYTHONPATH: "/opt/python/current/app/iotd:$PYTHONPATH"
    DJANGO_SECRET_KEY: secretKeyGoesHere
    DEBUG: 0
