option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: NT_Tickets/wsgi.py
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:autoscaling:launchconfiguration:
    EC2KeyName: nt-tickets-keypair
    InstanceType: t2.micro
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: NT_Tickets.settings
    PYTHONPATH: "/opt/python/current/app/iotd:$PYTHONPATH"
    DJANGO_SECRET_KEY: secretKeyGoesHere
    DEBUG: 0
