container_commands:
  01_install_reqs:
    command: "pip install -r requirements.txt"
  02_collectstatic:
    command: "django-admin.py collectstatic --no-input"
    leader_only: true
  03_makemigrations:
    command: "django-admin.py makemigrations"
    leader_only: true
  04_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  05_createsu:
    command: "django-admin.py createsu"
    leader_only: true
  06_create_categories:
    command: "django-admin.py create_categories"
    leader_only: true
  07_create_pricing:
    command: "django-admin.py create_pricing"
    leader_only: true
