container_commands:
  01_collectstatic:
    command: "django-admin.py collectstatic --no-input"
    leader_only: true
  02_makemigrations:
    command: "django-admin.py makemigrations"
    leader_only: true
  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  04_createsu:
    command: "django-admin.py createsu"
    leader_only: true
  05_create_categories:
    command: "django-admin.py create_categories"
    leader_only: true
  06_create_pricing:
    command: "django-admin.py create_pricing"
    leader_only: true
