.main {margin-top: 50px}

html {
	overflow-y: scroll; 
}

tr.cancelled td {
	text-decoration: line-through;
	color:#999;
}

.col {
	width:50%;
}

.col_left {
float: left
}

.col_right {
float: left;
}

.clear {
clear: left;
}
