.main {margin-top: 50px}

html {
	overflow-y: scroll; 
}

tr.cancelled td {
	text-decoration: line-through;
	color:#999;
}

.col {
	width:50%;
}

.col_left {
float: left
}

.col_right {
float: left;
}

.clear {
clear: left;
}

table.ticket_pricing{
	width: 100%;
}

table.ticket_pricing th, td{
	text-align: left;
	padding: 10px;
}

table.ticket_pricing tr{
	border-bottom: 1px solid #eee;
}

.lead.pricing{
	margin-bottom: 10px;
}