{% extends "book_base.html" %}
{% load bootstrap_toolkit %}

{% block title %}
Book Tickets
{% endblock %}

{% block content %}
<p class="lead" id="title_text">You're booking tickets for {{show.name}} at {{show.location}}.</p>
<p>{{ message }}</p>
{% include "includes/warnings.html" with foh=False %}

<form method="post" class="submit-once">
{% csrf_token %}
	<div class="col col_left">
		{{ form.occurrence|as_bootstrap }}
		{{ form.quantity|as_bootstrap }}
	</div>
	<div class="col col_right">
		{{ form.person_name|as_bootstrap }}
		{{ form.email_address|as_bootstrap }}
	</div>
	<!-- <div class="clear">
		{{ form.add_to_mailinglist|as_bootstrap }}
	</div> -->
	<p class="text">If you have any special access requirements please contact <a href="mailto:{{ foh_contact }}">{{ foh_contact }}</a>.</p>
	<div class="actions">
		<button type="submit" class="btn btn-large btn-primary" id="submit-btn">
		Book Tickets</button>
	</div>
</form>

{% endblock %}
{% block footer %}
<script>
	$('form.submit-once').submit(function(e){
		if( $(this).hasClass('form-submitted') ){
			e.preventDefault();
				return;
			}
		$(this).addClass('form-submitted');
		document.getElementById('submit-btn').disabled = true;
	});
</script>
<div class="main">
<p class="lead pricing" id="title_text">Ticket pricing</p>
<table class="ticket_pricing">
	
	{% if show.category.name == "In House" %}
		<tr><td>Member Tickets</td><td>£{{ pricing.member_price }}</td></tr>
		<tr><td>Concession Tickets</td><td>£{{ pricing.concession_price }}</td></tr>
		<tr><td>Public Tickets</td><td>£{{ pricing.public_price }}</td></tr>
		<tr><td>Season Ticket</td><td>£{{ season_pricing.season_price }}</td></tr>
		<tr><td>Season Ticket Member</td><td>£{{ season_pricing.season_price_nnt }}</td></tr>
		<tr><td>Matinee Fresher Tickets</td><td>£{{ pricing.matinee_freshers_price }}</td></tr>
		<tr><td>Matinee Fresher (members)</td><td>£{{ pricing.matinee_freshers_nnt_price }}</td></tr>
	<!-- Fringe Shows -->
	{% elif show.category.name == "Fringe" %}
		<tr><td>Fringe Tickets</td><td>£{{ pricing.fringe_price }}</td></tr>
		<tr><td>Season Pass Ticket</td><td>£{{ season_pricing.season_price }}</td></tr>
		<tr><td>Season Ticket Member</td><td>£{{ season_pricing.season_price_nnt }}</td></tr>
	<!-- External Shows -->
	{% elif show.category.name == "External" %}
		<tr><td>Member Tickets</td><td>£{{ pricing.member_price }}</td></tr>
		<tr><td>Concession Tickets</td><td>£{{ pricing.concession_price }}</td></tr>
		<tr><td>Public Tickets</td><td>£{{ pricing.public_price }}</td></tr>

		{% if pricing.allow_season_tickets %}
			<tr><td>Season Pass Ticket Sales</td><td>£{{ season_pricing.season_price }}</td></tr>
			<tr><td>Season Ticket Member Sales</td><td>£{{ season_pricing.season_price_nnt }}</td></tr>
		{% endif %}

		{% if pricing.allow_half_matinee %}
			<tr><td>Matinee Fresher Tickets</td><td>£{{ pricing.matinee_freshers_price }}</td></tr>
		{% endif %}
		{% if pricing.allow_half_nnt_matinee %}
			<tr><td>Matinee Member Fresher Tickets</td><td>£{{ pricing.matinee_freshers_nnt_price }}</td></tr>
		{% endif %}

	{% elif show.category.name == "StuFF" %}
		<tr><td>Single Show Ticket</td><td>£{{ pricing.stuff_price }}</td></tr>
		<tr><td>Festival Pass Sales</td><td>£{{ pricing.festival_sales_price|floatformat:2 }}</td></tr>
		<tr><td>Day Pass Sales</td><td>£{{ pricing.day_sales_price|floatformat:2 }}</td></tr>
	{% endif %}
</table>
</div>
{% endblock %}