{% extends "book_base.html" %}
{% load bootstrap_toolkit %}

{% block title %}
Book Tickets
{% endblock %}

{% block content %}
<p class="lead" id="title_text">You're booking tickets for {{show.name}} at {{show.location}}.</p>
<p>{{ message }}</p>
{% include "includes/warnings.html" with chips=False foh=False %}

<form method="post" class="submit-once">
{% csrf_token %}
	<div class="col col_left">
		{{ form.occurrence|as_bootstrap }}
		{{ form.quantity|as_bootstrap }}
	</div>
	<div class="col col_right">
		{{ form.person_name|as_bootstrap }}
		{{ form.email_address|as_bootstrap }}
	</div>
	<!-- <div class="clear">
		{{ form.add_to_mailinglist|as_bootstrap }}
	</div> -->
	<p class="text-info">If you have any special access requirements please contact {{ foh_contact }}.</p>
	<div class="actions">
		<button type="submit" class="btn btn-large btn-primary" id="submit-btn">
		Book Tickets</button>
	</div>
</form>

{% endblock %}
{% block footer %}
<script>
	$('form.submit-once').submit(function(e){
		if( $(this).hasClass('form-submitted') ){
			e.preventDefault();
				return;
			}
		$(this).addClass('form-submitted');
		document.getElementById('submit-btn').disabled = true;
	});
</script>
{% endblock %}
