{% extends "book_base.html" %}
{% load bootstrap_toolkit %}

{% block title %}
Book Tickets
{% endblock %}

{% block content %}
<p class="lead">You're booking tickets for {{show.name}} at {{show.location}}.</p>
<p>{{ message }}</p>

<form action="." method="post">{% csrf_token %}
<div class="col col_left">
{{ form.occurrence|as_bootstrap }}
{{ form.quantity|as_bootstrap }}
</div>
<div class="col col_right">
{{ form.person_name|as_bootstrap }}
{{ form.email_address|as_bootstrap }}

</div>
{% if mc %}
<div class="clear">
{{ form.add_to_mailinglist|as_bootstrap }}
</div>
{% endif %}
<p class="text-info">If you have any special access requirements please contact {{ foh_contact }}.</p>
<div class="actions">
        <button type="submit" class="btn btn-large btn-primary">Book Tickets</button>
</div>
</form>
{% endblock %}
