<div class="row">
  <div class="col xs12">
    <div class="card tiny grey darken-3 bug-card">
      <div class="card-content center-align bug-content">
        <p class="red-text bold">Warning:</p>
        <p class="nnt-text text-orange thin">
          <span class="hide-on-small-and-down">This site is currently under development, if</span>
          <span class="hide-on-med-and-up">If</span>
          you spot a bug or
          want to suggest an improvement then you can
          <a href="#report-modal" class="nnt-purple bold modal-trigger" rel="nofollow">
          send the editors a message
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
