<div class="row">
  <div class="col s12">
    <div class="card tiny grey darken-3 valign-wrapper">
      <div class="col s12 center-align">
        <span class="red-text bold">Warning:</span>
        <span class="nnt-orange valign thin">
          This site is currently under development, because of this it is
          likely that there are some bugs hidden around here and there, if you
          find any keep calm, don't panic, you can
          <a href="#report-modal" class="nnt-purple bold modal-trigger" rel="nofollow">
          report bugs here,
          </a>
          free of charge. Alternatively if you have an idea for something you
          want to be added to this site then you can
          <a href="#report-modal" class="nnt-purple bold modal-trigger" rel="nofollow">
          suggest ideas here</a>
          (also free of charge). If you're still yearning for more then check
          out the
          <a href="https://github.com/newtheatre/nt-tickets" class="nnt-purple bold" target="_blank">
          GitHub repository.</a>
        </span>
      </div>
    </div>
  </div>
</div>
