<link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-touch-icon-57x57.png?v=69976p4zEq">
<link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-touch-icon-60x60.png?v=69976p4zEq">
<link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72.png?v=69976p4zEq">
<link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-touch-icon-76x76.png?v=69976p4zEq">
<link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114.png?v=69976p4zEq">
<link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-touch-icon-120x120.png?v=69976p4zEq">
<link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-touch-icon-144x144.png?v=69976p4zEq">
<link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-touch-icon-152x152.png?v=69976p4zEq">
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon-180x180.png?v=69976p4zEq">
<link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.png?v=69976p4zEq" sizes="32x32">
<link rel="icon" type="image/png" href="/static/images/favicons/android-chrome-192x192.png?v=69976p4zEq" sizes="192x192">
<link rel="icon" type="image/png" href="/static/images/favicons/favicon-96x96.png?v=69976p4zEq" sizes="96x96">
<link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.png?v=69976p4zEq" sizes="16x16">
<link rel="manifest" href="/static/images/favicons/manifest.json?v=69976p4zEq">
<link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg?v=69976p4zEq" color="#a54499">
<link rel="shortcut icon" href="/static/images/favicons/favicon.ico?v=69976p4zEq">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="msapplication-TileImage" content="/static/images/favicons/mstile-144x144.png?v=69976p4zEq">
<meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml?v=69976p4zEq">
<meta name="theme-color" content="#292629">
