{% extends 'show_base.html' %}
{% load static from staticfiles %}
{% load googlecharts %}
{% block head %}
   
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 center-align" id="show-chart-container">
      <canvas class="respondCanvas" id="show-chart" width="400" height="400" style="width:100%; height:400px"></canvas>
    </div>
  </div>
  <div class="chart-toggles">
    <div class="row">
      <div class="col s4 center-align">
        <input type="checkbox" id="shows" class="enabled" checked />
        <label for="shows" style="color: rgba(220,220,220,1)">Shows</label>
      </div>
      <div class="col s4 center-align">
        <input type="checkbox" id="tickets" class="enabled" checked />
        <label for="tickets" style="color: rgba(151,187,205,1)">Tickets</label>
      </div>
      <div class="col s4 center-align">
        <input type="checkbox" id="profit" class="enabled" checked />
        <label for="profit" style="color: rgba(151,187,205,1)">Profit</label>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

<script>
// Get context with jQuery - using jQuery's .get() method.
var chart = $("#show-chart").get(0).getContext("2d");

var data = {}

var options = {
    scaleShowGridLines : true,
    scaleGridLineColor : "rgba(100,100,100,0.3)",
    bezierCurveTension : 0.4,
  }

var enableCheck = function() {
  SHOn = $('#shows').hasClass('enabled')
  TOn = $('#tickets').hasClass('enabled')
  POn = $('#profit').hasClass('enabled')

  if (SHOn) {
    data.shows = {{shows_by_month|safe}};
  } else {
    data.shows = {};
  }

  if (TOn) {
    data.tickets = {{tickets_sold|safe}};
  } else {
    data.tickets = {};
  }
  if (POn) {
    data.profit = {{profit|safe}};
  } else {
    data.profit = {};
  }
}

var currentChart

$(document).ready(function() {
    enableCheck();
    data = {
        labels: {{months|safe}},
        datasets: [
          data.shows,
          data.tickets,
          data.profit,
        ]
    };
    var NewChart = new Chart(chart).Line(data, options);
    currentChart = NewChart
});

$('.chart-toggles input').click(function() {
    currentChart.destroy();
    $(this).toggleClass('enabled');
    enableCheck();
    data = {
        labels: {{months|safe}},
        datasets: [
          data.shows,
          data.tickets,
          data.profit,
        ]
    };

    var NewChart = new Chart(chart).Line(data, options);
    currentChart = NewChart
});

</script>

{% endblock %}
