{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>nt_tickets Dev 0.2</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />
	<link href="{% static 'bootstrap.css' %}" rel="stylesheet" />
	<link href="{% static 'bootstrap-responsive.css' %}" rel="stylesheet" />
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
	<h1>hello world<h1>
</html>