{% load static from staticfiles %}
{% if shows.count == 0 %}
	<div class="error">
			<strong>Huh</strong> No shows found.
	</div>
{% else %}
<ul>
{% for show in shows %}
	<li{% if show.poster %} class="poster" {% else %} class="noposter" {% endif %}>
		{% if show.poster %}
			<img src="{{ show.poster.poster_page.url }}" style="float:left" />
		{% else %}
			<img src="{% static 'images/no_poster.png' %}" style="float:left"/>
		{% endif %}
		<h3 id="show-title">{{ show.name }}</h3>
		<p class="meta">{% if show.start_date != show.end_date %} {{ show.start_date|date:"j M" }} to {% endif %} {{ show.end_date|date:"j M o" }}</p>
		<p>{{ show.description }}</p>
		<div class="venue cat-{{ show.category.slug }}">Venue: {{ show.location }}</div>

		<div class="category cat-{{ show.category.slug }}">{{ show.category }}</div>
		{% include 'book_button.html' %}
	</li>
{% endfor %}
</ul>
{% endif %}
