{% load static from staticfiles %}
{% if shows.count == 0 %}
	<div class="error">
			<strong>Huh</strong> No shows found.
	</div>
{% else %}

{% for show in shows %}
	{% ifchanged show.start_date %}

		{% if forloop.first %}
		{% else %}
			</ul>
		{% endif %}

		<h3>{{ show.start_date|date:"l jS F" }}</h3>
		<ul>
	{% endifchanged %}

	<li{% if show.poster %} class="poster" {% else %} class="noposter" {% endif %}>
		{% if show.poster %}
			<img src="{{ show.poster.poster_page.url }}" style="float:left" />
		{% else %}
			<img src="//{{ request.get_host }}{% static 'images/no_poster.png' %}" style="float:left"/>
		{% endif %}
		<h3 id="show-title">{{ show.name }}</h3>
		<p class="meta">
			{% for occurence in show.occurrence_set.all %}
				{{ occurence.date|date:"d/m/Y" }} {{ occurence.time|date:"h:mA" }}{% if not forloop.last %},{%endif%}
			{% endfor %}
		</p>
		<div class="venue cat-{{ show.category.slug }}">{{ show.location }}</div>
		<p>{{ show.description }}</p>
		<div class="category cat-{{ show.category.slug }}">{{ show.category }}</div>
		{% include 'book_button.html' with settings=settings %}
	</li>

{% endfor %}
</ul>
{% endif %}
