{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Reporting{% endblock %}

{% block content %}
<div class="row">
<div class="span4">
<h3>Filters</h3>
<form action="." method="post">{% csrf_token %}
{{ form|as_bootstrap }}
<div class="actions">
        <button type="submit" class="btn primary">Search</button>
</div></form>
</div>
<div class="span8">
	<h1>Ticket Booking Report</h1>
{% if report.have_report %}
<p>For show <strong>{{occurrence.show.name}}</strong> on <strong>{{occurrence.datetime_formatted}}</strong>.</p>
<p><strong>{{report.how_many_sold}}</strong> reserved out of a maximum of {{occurrence.maximum_sell}} leaving <strong>{{report.how_many_left}}</strong> seats left.</p>
<div class="progress progress-success">
  <div class="bar" style="width: {{report.percentage}}%"></div>
</div>

	{% ifequal report.how_many_sold 0 %}
		<div class="alert">
  			<strong>Huh</strong> No tickets have been reserved for this performance. Maybe someone needs to publicise a bit more!
		</div>
	{%else%}
	<table class="table"><tr><th>Reservee</th><th>Quantity</th><th>Timestamp</th></tr>
	{% for sale in report.tickets %}
		<tr {% if sale.cancelled %}class="cancelled"{%endif%}><td>{{sale.person_name}}</del></td><td> 	<span class="badge {% if sale.cancelled %}badge-inverse{%else%}badge-info{%endif%}">{{sale.quantity}}</span></td><td>{{sale.stamp}}</td></tr>
	{% endfor %}
	</table>
	{%endifequal%}

{%else%}
<div class="alert">
  <strong>Hey!</strong> Pick a valid filter from the left.
</div>

{% endif %}

</div>
</div>
</div>
{% endblock %}