<table class="bordered">
<!-- Table header -->
  <thead>
    <tr>
      <th data-field="name">Name</th>
      <th data-field="quantity">Quantity</th>
      <th data-field="add">Add</th>
    </tr>
  </thead>
  <!-- Table body -->
  <tbody>
    {% for tick in report.tickets %}
      <!-- Cancelled Tickets -->
      {% if tick.cancelled %}
      <tr bgcolor="#faf3d1">
        <th class="grey-text"><strike>{{ tick.person_name }}</strike></th>
        <th class="grey-text"><strike>{{ tick.quantity }}</strike></th>
        <th><button type="button" class="btn disabled nnt purple">Add</button></th>
      </tr>
      <!-- Collected Tickets -->
      {% elif tick.collected %}
      <tr bgcolor="#c7e4f3">
        <th class="grey-text"><strike>{{ tick.person_name }}</strike></th>
        <th class="grey-text"><strike>{{ tick.quantity }}</strike></th>
        <th><button type="button" class="btn disabled nnt purple">Add</button></th>
      </tr>
      <!-- Everything else -->
      {% else %}
      <tr>
        <th>{{ tick.person_name }}</th>
        <th class="teal-text">{{ tick.quantity }}</th>
        <th>
        <button 
          type="submit" 
          class="btn nnt purple waves-effect waves-dark modal-action modal-close reserve_button"
          id="reserve_btn_{{ forloop.counter }}" 
          value="{{ tick.unique_code }}"
          >
        Add
        </button>
        </th>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>