<table class="bordered-dark">
<!-- Table header -->
  <thead>
    <tr class="grey-text text-lighten-4">
      <th data-field="name">Name</th>
      <th data-field="quantity">Quantity</th>
      {% if have_form %}
      <th data-field="add">Add</th>
      {% endif %}
    </tr>
  </thead>
  <!-- Table body -->
  <tbody class="list">
    {% for tick in tickets %}
      <!-- Cancelled Tickets -->
      {% if tick.cancelled %}
      <tr>
        <td class="red-text text-lighten-3 name"><strike>{{ tick.person_name }}</strike></td>
        <td class="grey-text valign-wrapper">
        {% if have_form %}
        <i class="material-icons" id="less_{{ forloop.counter }}">chevron_left</i>
        &nbsp;
        {% endif %}
        <strike>{{ tick.quantity }}</strike>
        {% if have_form %}
        &nbsp;
        <i class="material-icons" id="more_{{ forloop.counter }}">chevron_right</i>
        {% endif %}
        </td>
        {% if have_form %}
        <td><button type="button" class="btn" id="add_button_{{ forloop.counter }}" disabled>Add</button></td>
        {% endif %}
      </tr>
      <!-- Collected Tickets -->
      {% elif tick.collected %}
      <tr>
        <td class="blue-text text-lighten-3 name"><strike>{{ tick.person_name }}</strike></td>
        <td class="grey-text valign-wrapper">
        {% if have_form %}
        <i class="material-icons" id="less_{{ forloop.counter }}">chevron_left</i>
        &nbsp;
        {% endif %}
        <strike>{{ tick.quantity }}</strike>
        {% if have_form %}
        &nbsp;
        <i class="material-icons" id="more_{{ forloop.counter }}">chevron_right</i>
        {% endif %}
        </td>
        {% if have_form %}
        <td><button type="button" class="btn" id="add_button_{{ forloop.counter }}" disabled>Add</button></td>
        {% endif %}
      </tr>
      <!-- Everything else -->
      {% else %}
      <tr>
        <td class="nnt-text text-orange name">{{ tick.person_name }}</td>
        <td class="teal-text text-accent-4">
        {% if have_form %}
        <li class="waves-effect" onclick="lessTickets( {{ forloop.counter }} )" id="less_{{ forloop.counter }}"><i class="material-icons">chevron_left</i></li>
        &nbsp;
        {% endif %}
        <span id="reserve-number_{{ forloop.counter }}">{{ tick.quantity }}</span>
        {% if have_form %}
        &nbsp;
        <li class="waves-effect" onclick="moreTickets( {{ forloop.counter }} )" id="more_{{ forloop.counter }}"><i class="material-icons">chevron_right</i></li>
        {% endif %}
        </td>
        {% if have_form %}
        <td><form class="reserve-form" id="reserve_{{ forloop.counter }}" method="post" action=".">
        {% csrf_token %}
        <input type="hidden" value="{{ tick.unique_code }}" id="code_reserve_{{ forloop.counter }}" readonly="true">
        <input type="hidden" value="{{ tick.quantity }}" id="max_reserve_{{ forloop.counter }}" readonly="true">
        <input type="hidden" value="{{ tick.quantity }}" id="number_reserve_{{ forloop.counter }}" readonly="true">
        <button 
          type="submit" 
          class="btn nnt purple waves-effect waves-dark" id="add_button_{{ forloop.counter }}">
          Add
        </button>
        </form>
        </td>
        {% endif %}
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<script>
  $(document).on('submit', '.reserve-form', function(event){
    var id = $(this).attr('id');
    event.preventDefault();
    // console.log("Collect form submitted");  // sanity check
    collect_tickets(id);
    $('#modal_1').closeModal();
    return false;
  });
</script>

<script>
  function lessTickets(id) {
    var num = $('#number_reserve_' + id).val();
    num = +num - 1;
    if (num <= 1) {
      num = 1;
    }
    document.getElementById('reserve-number_' + id).innerHTML = num;
    $('#number_reserve_' + id).val(num);
  }
</script>

<script>
  function moreTickets(id) {
    var num = $('#number_reserve_' + id).val();
    var max = $('#max_reserve_' + id).val();
    num = +num + 1;
    if (num >= max) {
      num = max;
    }
    document.getElementById('reserve-number_' + id).innerHTML = num;
    $('#number_reserve_' + id).val(num);
  }
</script>
