{% extends 'show_base.html' %}
{% load static from staticfiles %}
{% block head %}
<title>{% block title %}Sales &middot; {% endblock %}</title>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col s12">
				{% for sh in object_list %}
					<div class="card small grey darken-3 responsive_height_card">
						<div class="row">
							<div class="col s4" id="poster-container">
								<div class="card-image show-poster hide-on-small-and-down">
									<a href="/report/{{ sh.id }}/" rel="nofollow">
									{% if sh.poster %}
										<img class="responsive-img" src="{{ sh.poster.poster_page.url }}" id="report-image">
									{% else %}
										<img class="responsive-img" src="{% static 'images/no_image.png' %}" id="report-image">
									{% endif %}
									</a>
								</div>
							</div>
							<div class="card-content center-on-small-only">
								{% if sh.is_current %}
									<div class="ribbon-wrapper"><div class="ribbon current">Current</div></div>
								{% else %}
									<div class="ribbon-wrapper"><div class="ribbon past">Past</div></div>
								{% endif %}
								<h1 class="light white-text flow-text truncate col s10 l12" id="title" style="margin-top: 0;">
									<a href="/report/{{ sh.id }}" rel="nofollow" class="title">
									{{ sh.name }}
									</a>
								</h1>
								<div class="col s12">
									<!-- Profit -->
									<div class="col s6">
										<blockquote class="grey-text text-lighten-1 hide-on-small-and-down">
											Sales: <span class="nnt-text nnt-orange">£{{ sh.get_sale_data.show_sales }}</span>
										</blockquote>

										<blockquote class="grey-text text-lighten-1 hide-on-small-and-down">
											Tickets Reserved: <span class="nnt-text nnt-orange">{{ sh.get_sale_data.total_reserved }}
											<strong>/</strong>
											{{ sh.get_sale_data.total_possible }}
											</span>
										</blockquote>
									</div>
									<!-- Tickets sold -->
									<div class="col s6">
										<blockquote class="grey-text text-lighten-1 hide-on-small-and-down">
											Tickets Sold: <span class="nnt-text nnt-orange">{{ sh.get_sale_data.total_sold }}</span>
										</blockquote>
									</div>
								</div>
								<div class="button_wrapper right">
									<a href="download/{{ sh.id }}">
									<button class="btn nnt purple waves-effect waves-dark pinned_button right">
									<i class="material-icons left hide-on-med-and-down">file_download</i>
									<i class="material-icons hide-on-large-only">file_download</i>
									<span class="hide-on-med-and-down">
									Download
									</span></button>
									</a>
								</div>
								<div class="button_wrapper left hide-on-med-and-up">
									<a href="{{ sh.id }}">
									<button class="btn nnt purple waves-effect waves-dark pinned_button left">
									<i class="material-icons left hide-on-med-and-down">visibility</i>
									<i class="material-icons hide-on-large-only">visibility</i>
									<span class="hide-on-med-and-down">
									View Report
									</span></button>
									</a>
								</div>
							</div>
						</div>
					</div>
					{% empty %}
					<div class="card tiny grey darken-3 bug-card">
						<div class="row">
							<div class="col s12 center-align">
								<h4 class="nnt-orange thin valign">There are no shows to display here.</h4>
							</div>
						</div>
					</div>
				{% endfor %}
		</div>
	</div>
</div>
{% include 'includes/paginator.html' %}
{% endblock %}
