{% extends 'show_base.html' %}
{% load static from staticfiles %}
{% load show_tags %}
{% block head %}
	<title>{% block title %}{{ show.name }} sales &middot; {% endblock %}</title>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card small grey darken-3">
					<div class="row">
						<div class="col s4" id="poster-container">
							<div class="card-image show-poster hide-on-small-and-down">
								<a href="/report/" rel="nofollow">
								{% if show.poster %}
									<img class="responsive-img" src="{{ show.poster.poster_page.url }}" id="report-image">
								{% else %}
									<img class="responsive-img" src="{% static 'images/no_image.png' %}" id="report-image">
								{% endif %}
								</a>
							</div>
						</div>
							<div class="card-content center-on-small-only">
								<h1 class="light white-text flow-text truncate" id="title" style="margin-top: 0;">
									<a href="/report/" rel="nofollow" class="title">
									{{ show.name }}
									</a>
								</h1>

								<div class="col s12">
									<!-- Profit -->
									<div class="col s6">
										<blockquote class="grey-text text-lighten-1 hide-on-small-and-down">
											Sales: <span class="nnt-text nnt-orange">£{{ show.show_sales }}</span>
										</blockquote>

										<blockquote class="grey-text text-lighten-1 hide-on-small-and-down">
											Tickets Reserved: <span class="nnt-text nnt-orange">{{ show.total_tickets_reserved }}
											<strong>/</strong>
											{{ show.total_possible }}
											</span>
										</blockquote>
									</div>
									<!-- Tickets sold -->
									<div class="col s6">
										<blockquote class="grey-text text-lighten-1 hide-on-small-and-down">
											Tickets Sold: <span class="nnt-text nnt-orange">{{ show.total_tickets_sold_show }}</span>
										</blockquote>
									</div>
								</div>
								<div class="button_wrapper right">
									<a href="download/{{ sh.id }}">
									<button class="btn nnt purple waves-effect waves-dark pinned_button right">
									<i class="material-icons left hide-on-med-and-down">file_download</i>
									<i class="material-icons hide-on-large-only">file_download</i>
									<span class="hide-on-med-and-down">
									Download
									</span></button>
									</a>
								</div>
								<div class="button_wrapper left hide-on-med-and-up">
									<a href="{{ sh.id }}">
									<button class="btn nnt purple waves-effect waves-dark pinned_button left">
									<i class="material-icons left hide-on-med-and-down">visibility</i>
									<i class="material-icons hide-on-large-only">visibility</i>
									<span class="hide-on-med-and-down">
									View Report
									</span></button>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			{% for oc in occurrence %}
				<div class="row">
					<div class="col s12" id="form-background">
					<div class="sale-container">
							<div class="col s12 center-align">
								{% if not report.pricing_error %}
									<span class="light nnt-orange report-text bold">
									{{ oc.day_formatted }} at {{ oc.time_formatted }}
									</span>
								{% endif %}
							</div>
							<!-- In House Shows -->
							{% if show.category.id == 1 %}
							<div class="col s12 center-align" style="overflow: scroll;">
								<table class="centered">
									<thead>
										<tr>
											<th class="nnt-purple bold">Member Tickets</th>
											<th class="nnt-purple bold">Concession Tickets</th>
											<th class="nnt-purple bold">Public Tickets</th>
											<th class="nnt-purple bold">Season Tickets</th>
											<th class="nnt-purple bold">Season Ticket Sales</th>
											<th class="nnt-purple bold">Member Season Ticket Sales</th>
											<th class="nnt-purple bold">Fellow Tickets</th>
											{% if oc.time_formatted|stringformat:"s" == report.default_time_matinee %}
											<th class="nnt-purple bold">Matinee Freshers Tickets</th>
											<th class="nnt-purple bold">Matinee NNT Freshers Tickets</th>
											{% endif %}
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="nnt-orange bold">{{ oc.member_tally }}</td>
											<td class="nnt-orange bold">{{ oc.concession_tally }}</td>
											<td class="nnt-orange bold">{{ oc.public_tally }}</td>
											<td class="nnt-orange bold">{{ oc.season_tally }}</td>
											<td class="nnt-orange bold">{{ oc.season_sale_tally }}</td>
											<td class="nnt-orange bold">{{ oc.season_sale_nnt_tally }}</td>
											<td class="nnt-orange bold">{{ oc.fellow_tally }}</td>
											{% if oc.time_formatted|stringformat:"s" == report.default_time_matinee %}
											<td class="nnt-orange bold">{{ oc.matinee_freshers_tally }}</td>
											<td class="nnt-orange bold">{{ oc.matinee_freshers_nnt_tally }}</td>
											{% endif %}
										</tr>
										<tr>
											<td class="nnt-orange bold">£{{ oc.member_tally|mul:report.member_price }}</td>
											<td class="nnt-orange bold">£{{ oc.concession_tally|mul:report.concession_price }}</td>
											<td class="nnt-orange bold">£{{ oc.public_tally|mul:report.public_price }}</td>
											<td class="nnt-orange bold">-</td>
											<td class="nnt-orange bold">£{{ oc.season_sale_tally|mul:report.season_price }}</td>
											<td class="nnt-orange bold">£{{ oc.season_sale_nnt_tally|mul:report.season_price_nnt }}</td>
											<td class="nnt-orange bold">-</td>
											{% if oc.time_formatted|stringformat:"s" == report.default_time_matinee %}
											<td class="nnt-orange bold">£{{ oc.matinee_freshers_tally|mul:report.matinee_freshers_price }}</td>
											<td class="nnt-orange bold">£{{ oc.matinee_freshers_nnt_tally|mul:report.matinee_freshers_nnt_price }}</td>
											{% endif %}
										</tr>
									</tbody>
								</table>
							</div>
							<!-- Fringe Shows -->
							{% elif show.category.id == 2 %}
								<div class="col s12 center-align">
								<table class="centered">
									<thead>
										<tr>
											<th class="nnt-purple bold">Fringe Tickets</th>
											<th class="nnt-purple bold">Season Tickets</th>
											<th class="nnt-purple bold">Season Ticket Sales</th>
											<th class="nnt-purple bold">Member Season Ticket Sales</th>
											<th class="nnt-purple bold">Fellow Tickets</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="nnt-orange bold">{{ oc.fringe_tally }}</td>
											<td class="nnt-orange bold">{{ oc.season_tally }}</td>
											<td class="nnt-orange bold">{{ oc.season_sale_tally }}</td>
											<td class="nnt-orange bold">{{ oc.season_sale_nnt_tally }}</td>
											<td class="nnt-orange bold">{{ oc.fellow_tally }}</td>
										</tr>
										<tr>
											<td class="nnt-orange bold">£{{ oc.fringe_tally|mul:report.fringe_price }}</td>
											<td class="nnt-orange bold">-</td>
											<td class="nnt-orange bold">£{{ oc.season_sale_tally|mul:report.season_price }}</td>
											<td class="nnt-orange bold">£{{ oc.season_sale_nnt_tally|mul:report.season_price_nnt }}</td>
											<td class="nnt-orange bold">-</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- External Shows -->
							{% elif show.category.id == 3 and not report.pricing_error %}
								<div class="col s12 center-align">
								<table class="centered">
									<thead>
										<tr>
											<th class="nnt-purple bold">Member Tickets</th>
											<th class="nnt-purple bold">Concession Tickets</th>
											<th class="nnt-purple bold">Public Tickets</th>
											{% if pricing.allow_season_tickets %}
											<th class="nnt-purple bold">Season Tickets</th>
											<th class="nnt-purple bold">Season Ticket Sales</th>
											<th class="nnt-purple bold">Member Season Ticket Sales</th>
											{% endif %}
											{% if pricing.allow_fellow_tickets %}
											<th class="nnt-purple bold">Fellow Tickets</th>
											{% endif %}
											{% if oc.time_formatted|stringformat:"s" == report.default_time_matinee %}
												{% if pricing.allow_half_matinee %}
												<th class="nnt-purple bold">Matinee Freshers Tickets</th>
												{% endif %}
												{% if pricing.allow_half_nnt_matinee %}
												<th class="nnt-purple bold">Matinee NNT Freshers Tickets</th>
												{% endif %}
											{% endif %}
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="nnt-orange bold">{{ oc.member_tally }}</td>
											<td class="nnt-orange bold">{{ oc.concession_tally }}</td>
											<td class="nnt-orange bold">{{ oc.public_tally }}</td>
											{% if pricing.allow_season_tickets %}
											<td class="nnt-orange bold">{{ oc.season_tally }}</td>
											<td class="nnt-orange bold">{{ oc.season_sale_tally }}</td>
											<td class="nnt-orange bold">{{ oc.season_sale_nnt_tally }}</td>
											{% endif %}
											{% if pricing.allow_fellow_tickets %}
											<td class="nnt-orange bold">{{ oc.fellow_tally }}</td>
											{% endif %}
											{% if oc.time_formatted|stringformat:"s" == report.default_time_matinee %}
												{% if pricing.allow_half_matinee %}
												<td class="nnt-orange bold">{{ oc.matinee_freshers_tally }}</td>
												{% endif %}
												{% if pricing.allow_half_nnt_matinee %}
												<td class="nnt-orange bold">{{ oc.matinee_freshers_nnt_tally }}</td>
												{% endif %}
											{% endif %}
										</tr>
										<tr>
											<td class="nnt-orange bold">£{{ oc.member_tally|mul:pricing.member_price }}</td>
											<td class="nnt-orange bold">£{{ oc.concession_tally|mul:pricing.concession_price }}</td>
											<td class="nnt-orange bold">£{{ oc.public_tally|mul:pricing.public_price }}</td>
											{% if pricing.allow_season_tickets %}
											<td class="nnt-orange bold">-</td>
											<td class="nnt-orange bold">£{{ oc.season_sale_tally|mul:report.season_price }}</td>
											<td class="nnt-orange bold">£{{ oc.season_sale_nnt_tally|mul:report.season_price_nnt }}</td>
											{% endif %}
											{% if pricing.allow_fellow_tickets %}
											<td class="nnt-orange bold">-</td>
											{% endif %}
											{% if oc.time_formatted|stringformat:"s" == report.default_time_matinee %}
												{% if pricing.allow_half_matinee %}
												<td class="nnt-orange bold">£{{ oc.matinee_freshers_tally|mul:report.matinee_freshers_price }}</td>
												{% endif %}
												{% if pricing.allow_half_nnt_matinee %}
												<td class="nnt-orange bold">£{{ oc.matinee_freshers_nnt_tally|mul:report.matinee_freshers_nnt_price }}</td>
												{% endif %}
											{% endif %}
										</tr>
									</tbody>
								</table>
							</div>
							{% elif show.category.id == 4 and not report.pricing_error %}
							<div class="col s12 center-align">
								<table class="centered">
									<thead>
										<tr>
											<th class="nnt-purple bold">StuFF Tickets</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="nnt-orange bold">{{ oc.stuff_tally }}</td>
										</tr>
										<tr>
											<td class="nnt-orange bold">£{{ oc.stuff_tally|mul:report.stuff_price }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							{% elif report.pricing_error %}
								<div class="col s12 center-align">
									<p class="light red-text center-align report-text">Pricing for this show could not be retrieved from the database</p>
								</div>
							{% else %}
								<div class="col s12 center-align">
									<p class="light red-text center-align report-text">Invalid category applied ({{ show.category }})</p>
								</div>
							{% endif %}
							{% if not report.pricing_error %}
							<div class="col s12 center-align">
								<div class="col s6">
									<span class="nnt-orange bold small-text">Total tickets:
									<span class="nnt-orange bold small-text">{{ oc.total_tickets_sold }}</span>
									</span>
								</div>
								<div class="col s6">
									<span class="nnt-orange bold small-text">Total sales:
									<span class="nnt-orange bold small-text">£{{ oc.total_sales }}</span>
									</span>
								</div>
							</div>
							{% endif %}
							<div class="col s12"><br></div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
