<script>
  function makeShortcut(key, input) {
    try {
      Mousetrap.bind(key, function() {
        var num = parseFloat($("#" + input).val()) + 1;
        $("#" + input).val(num);
      });

      Mousetrap.bind('shift+' + key, function() {
        var num = parseFloat($("#" + input).val()) - 1;
        if (num >= 0) {
          $("#" + input).val(num);
        };
      });
    } catch (err) {};
  }
</script>

<!-- Make shortcuts -->
<script>
  makeShortcut("m", "member");
  makeShortcut("c", "concession");
  makeShortcut("p", "public");
  makeShortcut("s", "season");
  makeShortcut("t", "season_sales");
  makeShortcut("f", "fellow");
  makeShortcut("b", "matinee_freshers");
  makeShortcut("n", "matinee_freshers_nnt");
  makeShortcut("d", "fringe");
</script>
