<!DOCTYPE html>
<html>
<head>
	{% include 'favicon.html' %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NT Tickets</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{ STATIC_URL }}stylesheets/materialize.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}stylesheets/style.css" rel="stylesheet" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bin/materialize.js"></script>
<body id="background">
	<header>
		<div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper">
			     	<a href="/" class="brand-logo center">
			     	<img src="{{ STATIC_URL }}images/nnt_tickets_white.png" id="nav-logo">
			     	</a>
			     	<div class="nav-container">
				     	<ul id="nav-mobile" class="left hide-on-med-and-down">
				        	<li><a href="/">Home</a></li>
				        	<li><a href="#">Sale Reports</a></li>
				      	</ul>
				      	<ul id="nav-mobile" class="right hide-on-med-and-down">
				      		<li><a href="/admin">Admin Login</a></li>
				      	</ul>
			      	</div>
			    </div>
			</nav>
		</div>
	</header>
	<main>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card small grey darken-3">
					<a href="{{ show.id }}" rel="nofollow"></a>
					<div class="row">
						<div class="col s2">
							<div class="card-image">
								{% if show.poster %}
									<img class="responsive-img" id="report-image" src="{{ show.poster_page.url }}"/>
								{% else %}
									<p>no image</p>
								{% endif %}
							</div>
						</div>
						<div class="col s10">
							<div class="card-content">
								<h1 class="light white-text flow-text">
								{{ show.name }} 
								{% if report.have_form %} 
								on <strong>{{ report.day }}</strong> at <strong>{{ report.time }}</strong> 
								{% endif %}
								</h1>
								<button data-target="picker-modal" class="btn nnt purple modal-trigger">Choose Showing</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% if report.have_form %}

		<div class="row">
			<div class="col s12">
				<div class="card tiny grey darken-3">
					<div class="card-content">
						<h4 class="center-align light white-text flow-text">

						{% if report.how_many_sold == 0 %}
						Huh, there are no tickets reserved! Maybe someone needs to publicise more!

						{% elif report.how_many_sold == 1 %}
						There is <strong>{{ report.how_many_sold }}</strong> ticket reserved, leaving <strong>{{ report.how_many_left }}</strong> tickets left.

						{% else %}
						There are <strong>{{ report.how_many_sold }}</strong> tickets reserved, leaving <strong>{{ report.how_many_left }}</strong> tickets left.

						{% endif %}
						</h4>
						<div class="progress" id="report-bar">
					      <div class="determinate" style="width: {{ report.percentage }}%"></div>
					  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<form class="col s12" action="." method="post">
			{% csrf_token %}
				<div class="row" id="form-background">
					<div class="input-field col s9">
						<input name="{{ S_form.ticket.name }}" type="text" class="validate" value="None">
						<label for="{{ S_form.ticket.name }}">{{ S_form.ticket.label }}</label>
					</div>
					<div class="col s3" id="form-button-inline">
						<button class="btn nnt purple waves-effec waves-light modal-trigger" href="#modal2">Reservation</button>
					</div>

					<div class="input-field col s12">	
						<input type="hidden">
					</div>

					<div class="input-field col s3">
						<input name="{{ S_form.number_concession.name }}" type="number" class="validate" value="0" max="{{ report.max }}" min="0">
						<label for="{{ S_form.number_concession.name }}">{{ S_form.number_concession.label }}</label>
					</div>

					<div class="input-field col s3">
						<input name="{{ S_form.number_public.name }}" type="number" class="validate" value="0" max="{{ report.max }}" min="0">
						<label for="{{ S_form.number_public.name }}">{{ S_form.number_public.label }}</label>
					</div>

					<div class="input-field col s3">
						<input name="{{ S_form.number_season.name }}" type="number" class="validate" value="0" max="{{ report.max }}" min="0">
						<label for="{{ S_form.number_season.name }}">{{ S_form.number_season.label }}</label>
					</div>

					<div class="input-field col s3">
						<input name="{{ S_form.number_fellow.name }}" type="number" class="validate" value="0" max="{{ report.max }}" min="0">
						<label for="{{ S_form.number_fellow.name }}">{{ S_form.number_fellow.label }}</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<div class="card tiny grey darken-3 valign-wrapper">
							<div class="card-content">
								<button type="submit" class="btn nnt purple valign">Sell Tickets</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		{% endif %}

		<!-- Occurrence Modal Structure -->
		<div id="picker-modal" class="modal bottom-sheet">
		    <div class="modal-content">
		        <h4>{{ show.name }}</h4>
		        {% for oc in occurrence %}
		        	<a href="/{{ show.id }}/{{ oc.0 }}" class="modal-action modal-close btn-flat">
		        	{{ show.name }} on <strong>{{ oc.2 }}</strong> at <strong>{{ oc.4 }}</strong>
		        	</a>
		        	<br>
	        	{% empty %}
		        	<span class="modal-action modal-close btn-flat">There are no showings available</span>
		        {% endfor %}
		    </div>
			    
		</div>

		<!-- Reservation Modal Structure -->
		<div id="modal2" class="modal modal-fixed-footer">
	    <div class="modal-content">
	      <h4>Reservations for {{ show.name }}</h4>
	      {% for tick in report.tickets %}
	      <p>{{ tick.person_name }}</p>
	      {% endfor %}
	    </div>
	    <div class="modal-footer">
	      <a class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
	    </div>
	  </div>
	</div>
	
	</main>

	<script>
		$(document).ready(function(){
	    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		    $('.modal-trigger').leanModal({
		      dismissible: true, // Modal can be dismissed by clicking outside of the modal
		      opacity: .5, // Opacity of modal background
		      in_duration: 300, // Transition in duration
		      out_duration: 300, // Transition out duration
		    }
		  );
		});
	</script>

</body>
</html>