{% extends 'show_base.html' %}
{% load static from staticfiles %}
{% block content %}
	<div class="container">
		{% include 'dev-text.html' %}
		<div class="row">
			<div class="col xs12">
				{% if report.number_shows == 0 %}
					<p>There are no shows at the moment<p>
				{% else %}
					{% for sh in show %}
						{% if sh.is_current %}
							<div class="card small grey darken-3">
								<div class="row">
									<div class="col xs4" id="poster-container">
										<div class="card-image show-poster">
											<a href="show/{{ sh.id }}/0" rel="nofollow">
											{% if sh.poster %}
												<img class="responsive-img" src="{{ sh.poster.poster_page.url }}" id="report-image">
											{% else %}
												<img class="responsive-img" src="{% static 'images/no_image.png' %}" id="report-image">
											{% endif %}
											</a>
										</div>
									</div>
									<div class="card-content">
										<h1 class="light white-text flow-text truncate">{{ sh.name }}</h1>
										<blockquote class="grey-text text-lighten-1 hide-on-small-and-down truncate">{{ sh.description }}</blockquote>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<ul class="pagination center-align">
			{% if show.has_previous %}
				<li class="waves-effect"><a href="?page={{ show.previous_page_number }}"><i class="material-icons nnt-purple">chevron_left</i></a></li>
			{% else %}
				<li class="disabled"><i class="material-icons grey-text">chevron_left</i></li>
			{% endif %}

			<li class="nnt-orange">{{ show.number }} of {{ show.paginator.num_pages }}</li>

			{% if show.has_next %}
				<li class="waves-effect"><a href="?page={{ show.next_page_number }}"><i class="material-icons nnt-purple">chevron_right</i></a></li>
			{% else %}
				<li class="disabled"><i class="material-icons grey-text">chevron_right</i></li>
			{% endif %}
			</ul>
	</div>
{% endblock %}
