{% extends 'show_base.html' %}
{% load show_tags %}
{% load staticfiles %}
{% block head %}
	<title>{% block title %}{{ show.name }} &middot; {% endblock %}</title>
	<script type="text/javascript" src="{% static 'js/mousetrap.js' %}"></script>
{% endblock %}

{% block content %}
	<!-- Top Card -->
	<div class="container">
		<div class="row top-card">
			<div class="col s12">
				<div class="card small grey darken-3 top-card">
					<div class="row">
						<div class="col s4" id="poster-container">
							<div class="card-image show-poster hide-on-small-and-down">
								<a href="/" rel="nofollow">
								{% if show.poster %}
									<img class="responsive-img" src="{{ show.poster.poster_page.url }}" id="report-image" />
								{% else %}
									<img class="responsive-img" src="{% static 'images/no_image.png' %}" id="report-image" />
								{% endif %}
								</a>
							</div>
						</div>
							<div class="card-content">
								<h1 class="light white-text flow-text center-on-small-only" id="title" style="margin-top: 0;">
									<a href="/" rel="nofollow" class="title">
									{{ show.name }} 
									{% if report.have_form %} 
									on <strong>{{ report.day }}</strong> at <strong>{{ report.time }}</strong> 
									{% endif %}
									</a>
								</h1>
								<div class="row hide-on-small-and-down">
									<div class="col s6 center-align">
										<button data-target="picker-modal" 
										class="btn nnt purple modal-trigger waves-effect waves-dark">
										<i class="material-icons left">payment</i>Choose Showing</button>
									</div>
									<div class="col s6 center-align">
										<a href="/report/{{ show.id }}">
											<button class="btn nnt purple waves-effect waves-dark">
											<i class="material-icons left">description</i>Sale Report</button>
										</a>
									</div>
								</div>
								<div class="row hide-on-med-and-up">
									<div class="col s6 center-align">
										<button data-target="picker-modal" 
										class="btn nnt purple modal-trigger waves-effect waves-dark">
										<i class="material-icons">credit_card</i></button>
									</div>
									<div class="col s6 center-align">
										<a href="/report/{{ show.id }}">
											<button class="btn nnt purple waves-effect waves-dark">
											<i class="material-icons">description</i></button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		{% if report.have_form %}
		<!-- Sale report overview -->
		<div class="row">
			<div class="col s12">
				<div class="card tiny grey darken-3">
					<div class="card-content" id="sale-update">
						{% ShowSaleOverview report %}
						<!-- See sale_overview.html -->
						<!-- and show_tags.py -->
					</div>
				</div>
			</div>
		</div>
		<!-- Sale input form -->
		<div class="row">
			{% if report.pricing_error %}
				<div class="col s12" id="form-background">
					<p class="light red-text center-align report-text pad-medium">
						Pricing for this show could not be retrieved from the database!
					</p>
				</div>
			{% else %}
			<form class="col s12" action="." method="post" id="sale-form">
			{% csrf_token %}
				<div class="row" id="form-background">
					<div class="input-field col s12">
					<!-- Hidden Unique Ticket ID -->
						<input name="{{ S_form.unique_ticket.name }}" 
									type="hidden"
									readonly="True" 
									value="{{ report.unique_ticket }}"
									id="unique_ticket">
					</div>
					<!-- Ticket Reservation -->
					<div class="input-field col s7 l8" id="reservation_container">
						<input name="ticket" type="text" id="reservation" class="Validate" readonly="True" value="{{ report.reservation }}">
						<label for="ticket">Reservation</label>
						<input type="hidden" id="reservation_number" readonly="True" value="0" oninput="checkSell(0)">
					</div>

					<div class="col s5 l4 center-align" id="form-button-inline">
						<button class="btn nnt purple waves-effect waves-dark modal-trigger" href="#modal2" id="reserve_button">
						<i class="material-icons left hide-on-small-and-down">library_books</i>
						<i class="material-icons hide-on-med-and-up">library_books</i>
						<span class="hide-on-small-and-down">Reservation</span></button>
					</div>

					<!-- Hidden inputs for ticket prices -->
					<div class="input-field col s12">	
						{% if pricing.concession_price %}
							<input type="hidden" value="{{ pricing.concession_price }}" id="concession_price">
						{% else %}
							<input type="hidden" value="0" id="concession_price">
						{% endif %}
						{% if pricing.member_price %}
							<input type="hidden" value="{{ pricing.member_price }}" id="member_price">
						{% else %}
							<input type="hidden" value="0" id="member_price">
						{% endif %}
						{% if pricing.public_price %}
							<input type="hidden" value="{{ pricing.public_price }}" id="public_price">
						{% else %}
							<input type="hidden" value="0" id="public_price">
						{% endif %}
						{% if pricing.fringe_price %}
							<input type="hidden" value="{{ pricing.fringe_price }}" id="fringe_price">
						{% else %}
							<input type="hidden" value="0" id="fringe_price">
						{% endif %}
						{% if pricing.matinee_freshers_price %}
							<input type="hidden" value="{{ pricing.matinee_freshers_price }}" id="matinee_freshers_price">
						{% else %}
							<input type="hidden" value="0" id="matinee_freshers_price">
						{% endif %}
						{% if pricing.matinee_freshers_nnt_price %}
							<input type="hidden" value="{{ pricing.matinee_freshers_nnt_price }}" id="matinee_freshers_nnt_price">
						{% else %}
							<input type="hidden" value="0" id="matinee_freshers_nnt_price">
						{% endif %}
						<input type="hidden" value="0" id="season_price">
						<input type="hidden" value="0" id="fellow_price">
						{% if report.season_price %}
							<input type="hidden" value="{{ report.season_price }}" id="season_sales_price">
						{% else %}
							<input type="hidden" value="0" id="season_sales_price">
						{% endif %}
						{% if report.season_price_nnt %}
							<input type="hidden" value="{{ report.season_price_nnt }}" id="season_sales_nnt_price">
						{% else %}
							<input type="hidden" value="0" id="season_sales_nnt_price">
						{% endif %}
						{% if pricing.stuff_price %}
							<input type="hidden" value="{{ pricing.stuff_price }}" id="stuff_price">
						{% else %}
							<input type="hidden" value="0" id="stuff_price">
						{% endif %}
					</div>
					<!-- In House Shows -->
					{% if report.category|stringformat:"s" == "In House" %}
						<!-- Member Ticket Sales -->
						<div class="input-field col s12 m6 l4">
							<input id="member" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="member">Member Tickets £{{ pricing.member_price }}</label>
						</div>

						<!-- Concession Ticket Sales -->
						<div class="input-field col s12 m6 l4">
							<input id="concession" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="concession">Concession Tickets £{{ pricing.concession_price }}</label>
						</div>

						<!-- Public Ticket Sales -->
						<div class="input-field col s12 m6 l4">
							<input id="public" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="public">Public Tickets £{{ pricing.public_price }}</label>
						</div>

						<!-- Season Ticket Numbers -->
						<div class="input-field col s12 m6">
							<input id="season" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="season">Season Pass Tickets</label>
						</div>

						<!-- Season Ticket Sales -->
						<div class="input-field col s12 m6">
							<input id="season_sales" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="season_sales">Season Ticket Sales £{{ report.season_price }}</label>
						</div>

						<!-- Season Ticket Sales NNT -->
						<div class="input-field col s12 m6">
							<input id="season_sales_nnt" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="season_sales_nnt">Season Ticket Member Sales £{{ report.season_price_nnt }}</label>
						</div>

						<!-- Fellow Ticket Numbers -->
						<div class="input-field col s12 m6">
							<input id="fellow" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="fellow">Fellow Tickets</label>
						</div>

						{% if report.time|stringformat:"s" == report.default_time_matinee %}
							<!-- Matinee Fresher Ticket Sales -->
							<div class="input-field col s12 m6">
								<input id="matinee_freshers" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
								<label for="matinee_freshers">Matinee Fresher Tickets £{{ pricing.matinee_freshers_price }}</label>
							</div>

							<!-- Matinee Fresher Member Ticket Sales -->
							<div class="input-field col s12 m6">
								<input id="matinee_freshers_nnt" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
								<label for="matinee_freshers_nnt">Matinee Member Fresher Tickets £{{ pricing.matinee_freshers_nnt_price }}</label>
							</div>

						{% endif %}
					<!-- Fringe Shows -->
					{% elif report.category|stringformat:"s" == "Fringe" %}
						<!-- Fringe Ticket Sales -->
						<div class="input-field col s12 m4">
							<input id="fringe" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="fringe">Fringe Tickets £{{ pricing.fringe_price }}</label>
						</div>

						<!-- Season Ticket Numbers -->
						<div class="input-field col s12 m4">
							<input id="season" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="season">Season Pass Tickets</label>
						</div>

						<!-- Season Ticket Sales -->
						<div class="input-field col s12 m4">
							<input id="season_sales" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="season_sales">Season Pass Ticket Sales £{{ report.season_price }}</label>
						</div>

						<!-- Season Ticket Sales NNT -->
						<div class="input-field col s12 m6">
							<input id="season_sales_nnt" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="season_sales_nnt">Season Ticket Member Sales £{{ report.season_price_nnt }}</label>
						</div>

						<!-- Fellow Ticket Numbers -->
						<div class="input-field col s12 m6">
							<input id="fellow" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="fellow">Fellow Tickets</label>
						</div>

					<!-- External Shows -->
					{% elif report.category|stringformat:"s" == "External" %}
						<!-- Member Ticket Sales -->
						<div class="input-field col s12 m6 l4">
							<input id="member" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="member">Member Tickets £{{ pricing.member_price }}</label>
						</div>

						<!-- Concession Ticket Sales -->
						<div class="input-field col s12 m6 l4">
							<input id="concession" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="concession">Concession Tickets £{{ pricing.concession_price }}</label>
						</div>

						<!-- Public Ticket Sales -->
						<div class="input-field col s12 m6 l4">
							<input id="public" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
							<label for="public">Public Tickets £{{ pricing.public_price }}</label>
						</div>

							{% if pricing.allow_season_tickets %}
								<!-- Season Ticket Numbers -->
								<div class="input-field col s12 m6 l4">
									<input id="season" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
									<label for="season">Season Pass Tickets</label>
								</div>

								<!-- Season Ticket Sales -->
								<div class="input-field col s12 m6 l4">
									<input id="season_sales" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
									<label for="season_sales">Season Pass Ticket Sales £{{ report.season_price }}</label>
								</div>

								<!-- Season Ticket Sales NNT -->
							<div class="input-field col s12 m6 l4">
								<input id="season_sales_nnt" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
								<label for="season_sales_nnt">Season Ticket Member Sales £{{ report.season_price_nnt }}</label>
							</div>

							<!-- End allow_season_tickets -->
							{% endif %}
							{% if pricing.allow_fellow_tickets %}
								<!-- Fellow Ticket Numbers -->
								<div class="input-field col s12 s6 l4">
									<input id="fellow" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
									<label for="fellow">Fellow Tickets</label>
								</div>

							<!-- End allow_fellow_tickets -->
							{% endif %}
							{% if report.time|stringformat:"s" == report.default_time_matinee %}
								{% if pricing.allow_half_matinee %}
									<!-- Matinee Fresher Ticket Sales -->
									<div class="input-field col s12 m6">
										<input id="matinee_freshers" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
										<label for="matineee_freshers">Matinee Fresher Tickets £{{ report.matinee_freshers_price }}</label>
									</div>

								<!-- End allow_half_matinee -->
								{% endif %}
								{% if pricing.allow_half_nnt_matinee %}
									<!-- Matinee Fresher Member Ticket Sales -->
									<div class="input-field col s12 m6">
										<input id="matinee_freshers_nnt" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
										<label for="matinee_freshers_nnt">Matinee Member Fresher Tickets £{{ report.matinee_freshers_nnt_price }}</label>
									</div>

								<!-- End allow half nnt matinee -->
								{% endif %}

							<!-- End matinee -->
							{% endif %}

					{% elif report.category|stringformat:"s" == "StuFF" %}
						<div class="col s12">
							<div class="input-field col s12">
									<input id="stuff" type="number" class="validate" value="0" max="{{ report.how_many_left }}" min="0" onclick="this.focus();this.select()">
									<label for="stuff">A Ticket Please £{{ report.stuff_price }}</label>
								</div>
						</div>
					{% else %}
						<div class="col s12">
							<p class="light red-text center-align report-text">Invalid category applied ({{ report.category }})</p>
							<br>
						</div>
					{% endif %}
					<!-- End Category If/Else -->
				</div>
				<div class="row hide-on-small-and-down">
					<div class="col s12">
						<div class="card tiny grey darken-3 bottom-card valign-wrapper">
							<div class="col s6 m3 center-align">
								<span class="nnt-orange sale-text">Total sales: <span class="bold">£</span><span class="sale-final bold" id="final">{% ShowSales report %}</span></span>
							</div>
							<div class="col s6 m3 center-align">
								<span class="nnt-orange sale-text">Order Total: <span class="bold">£</span><span class="bold" id="out1"></span></span>
							</div>
							<div class="col s6 m3 center-align">
								<button type="reset" class="btn nnt purple waves-effect waves-dark" onclick="resetButton()">
								<i class="material-icons left hide-on-med-and-down">clear</i>
								<i class="material-icons hide-on-large-only">clear</i>
								<span class="hide-on-med-and-down">Reset</span></button>
							</div>
							<div class="col s6 m3 center-align"> 
								<button type="submit" class="btn nnt purple waves-effect waves-dark" id="sell_button">
								<i class="material-icons left hide-on-med-and-down">shopping_cart</i>
								<i class="material-icons hide-on-large-only">shopping_cart</i>
								<span class="hide-on-med-and-down">Sell Tickets</span></button>
							</div>
						</div>
					</div>
				</div>
				<div class="row hide-on-med-and-up">
					<div class="col s12">
						<div class="card tiny grey darken-3 bottom-card valign-wrapper">
							<div class="row valign">
								<div class="card-content">
									<div class="col s6 center-align">
										<span class="nnt-orange sale-text">Total sales: <span class="sale-final">{% ShowSales report %}</span></span>
									</div>
									<div class="col s6 center-align">
										<span class="nnt-orange sale-text">Order Total: <span class="bold">£</span><span class="bold" id="out2"></span></span>
									</div>
									<div class="col s6 center-align pad-small">
										<button type="reset" class="btn nnt purple waves-effect waves-dark" onclick="resetButton()">
										<i class="material-icons left hide-on-med-and-down">clear</i>
										<i class="material-icons hide-on-large-only">clear</i>
										<span class="hide-on-med-and-down">Reset</span></button>
									</div>
									<div class="col s6 center-align pad-small"> 
										<button type="submit" class="btn nnt purple waves-effect waves-dark" onclick="resetButton()" id="sell_button">
										<i class="material-icons left hide-on-med-and-down">shopping_cart</i>
										<i class="material-icons hide-on-large-only">shopping_cart</i>
										<span class="hide-on-med-and-down">Sell Tickets</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			{% endif %}
		</div>
		{% else %}
			<div class="hidden">
				<form method="post" action="." id="sale_form"></form>
			</div>
		{% endif %}

<script src="http://listjs.com/no-cdn/list.js"></script>

		<!-- Occurrence Modal Structure -->
		<div id="picker-modal" class="modal bottom-sheet" style="display: block; overflow: scroll;">
			<div class="modal-content">
				<div class="row">
					<h4 class="truncate">{{ show.name }}</h4>
						{% for oc in occurrence %}
							<div class="col s12">
								<a href="/show/{{ show.id }}/{{ oc.0 }}" class="modal-action modal-close btn-flat" id="showing">
								<span class="hide-on-small-and-down">{{ show.name }} on </span><strong>{{ oc.2 }}</strong> at <strong>{{ oc.4 }}</strong>
								<span class="hide-on-small-and-down">
								{% if oc.5 == 1 %}
								, <strong>{{ oc.5 }}</strong> ticket reserved
								{% else %}
									, <strong>{{ oc.5 }}</strong> tickets reserved
								{% endif %}
								</span>
								</a>
							</div>
							<br>
							{% empty %}
								<div class="col s12">
								<span class="modal-action modal-close btn-flat">There are no showings available</span>
							</div>
							{% endfor %}
						</div>
				</div>
		</div>

		<!-- Reservation Modal Structure -->
		<div id="modal2" class="modal modal-fixed-footer grey darken-3">
			<div id="reservations">
				<div class="modal-content">
					<h4 class="nnt-text text-orange">Reservations for {{ show.name }}</h4>
						<div class="row">
							<div class="col s12" id="reservation_modal_container">
								{% ReservationModal report %}
								<!-- See sale_overview_full.html -->
								<!-- and reservation_modal.html -->
								<!-- and show_tags.py -->
							</div>
						</div>
				</div>
				<div class="modal-footer grey darken-2" style="height: 4em">
					<div class="row no-pad">
						<form class="col s8">
							<div class="row no-pad">
								<div class="input-field col s8 no-pad">
									<i class="material-icons prefix nnt-orange" id="filter" style="padding-top: 0.3em">search</i>
									<input id="icon_prefix" type="text" placeholder="Search" class="search" style="margin-bottom: 0;">
								</div>
							</div>
						</form>
						<div class="col s4">
							<a class="modal-action modal-close waves-effect waves-purple btn-flat nnt-text text-orange">Close</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
{% block script %}
	<!-- Set up modal trigger and sale tally -->
	<script>
		$(document).ready(function(){
			xff = parseFloat(0).toFixed(2)
			document.getElementById("out1").innerHTML = xff;
			document.getElementById("out2").innerHTML = xff;
		});
	</script>

	<!-- Dynamic addition of sales -->
	<script>
	$(document).ready(function(){
		checkSell(0);
		$(document).keyup(function(){

			var num_concession = getInput("concession");
			var num_member = getInput("member");
			var num_public = getInput("public");
			var num_fringe = getInput("fringe");
			var num_matinee_freshers = getInput("matinee_freshers");
			var num_matinee_freshers_nnt = getInput("matinee_freshers_nnt");
			var num_season = getInput("season");
			var num_fellow = getInput("fellow");
			var num_season_sale = getInput("season_sales");
			var num_season_sale_nnt = getInput("season_sales_nnt");
			var num_stuff = getInput("stuff");

			var x = 
				+num_concession[2] +
				+num_member[2] +
				+num_public[2] +
				+num_fringe[2] +
				+num_matinee_freshers[2] +
				+num_matinee_freshers_nnt[2] +
				+num_season[2] +
				+num_fellow[2] +
				+num_season_sale[2] +
				+num_season_sale_nnt[2] +
				+num_stuff[2];

			var number_sold =
				+num_concession[0] +
				+num_member[0] +
				+num_public[0] +
				+num_fringe[0] +
				+num_matinee_freshers[0] +
				+num_matinee_freshers_nnt[0] +
				+num_season[0] +
				+num_fellow[0] +
				+num_season_sale[0] +
				+num_season_sale_nnt[0] +
				+num_stuff[0];

			xf = parseFloat(x).toFixed(2);
			document.getElementById("out1").innerHTML = xf;
			document.getElementById("out2").innerHTML = xf;

			checkSell(number_sold);
		});
	});
	</script>

	<script>
		var left={{report.how_many_sales_left}}
		function checkSell(num, num_left) {
			var reservation = $('#reservation').val();
			var reservation_number = $('#reservation_number').val()
			if ( typeof(num_left) != "undefined" || "") {
				left = num_left
			};

			if ( left == 0 || num == 0 ) {
				$('#sell_button').prop("disabled", true);
			};
			if (num > 0 && reservation == 'None' && left > 0) {
				$('#sell_button').prop("disabled", false);
			};
			if (reservation != 'None' && num == reservation_number) {
				$('#sell_button').prop("disabled", false);
			};

		};
	</script>

	<script>
		function getInput(name) {
			var input = $('#' + name).val()
			var price = $('#' + name + "_price").val()
			if ( typeof(input) == "undefined" || "") {
				input = 0
			};
			var tot = (+input * +price);
			// console.log(input, price)
			return [input, price, tot]
		}
	</script>

	{% include 'shortcut.html' %}

	<!-- Submit post on form submit -->
	<script>
		$('#sale-form').on('submit', function(event){
			event.preventDefault();
			// console.log("Sell form submitted")  // sanity check
			sell_tickets();
			resetButton();
			return false;
		});
	</script>

	<!-- Reset sale tally on reset -->
	<script>
	function resetButton() {
		xr = parseFloat(0).toFixed(2);
		document.getElementById("out1").innerHTML = xr;
		document.getElementById("out2").innerHTML = xr;
		checkSell(0);
		// document.getElementById("reservation").innerHTML = "None";
	}
	</script>

	<script src="{% static 'js/main.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>

	<script>
		var options = {
			valueNames: [ 'name' ]
		};

		var reserveList = new List('reservations', options);
	</script>
{% endblock %}
