{% load static from staticfiles %}
{% for show in shows %}
<section class="show {{show.category.slug}}-show">
<h2 class="show_category_header">{{ show.category }}</h2>
{% if show.poster %}
  <a href="http://newtheatre.org.uk/uk/whats-on"><img src="{{show.poster.poster_page.url}}" /></a>
{% else %}
  <a href="http://newtheatre.org.uk/uk/whats-on"><img src="{% static 'images/no_image.png' %}" /></a>
{% endif %}
<div>
<p>{% if show.start_date != show.end_date %}{{show.start_date|date:"j M"}} to {% endif %}{{show.end_date|date:"j M o"}}</p>
<p>{{show.description}}</p>
{% include 'book_button.html' with settings=settings %}
</div>
</section>
{% empty %}
{% include 'sidebar_blank.html' %}
{% endfor %}
