{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'PPP Administration' %}{% endblock %}

{% block extrastyle %}
<style>
#header{ background-color: #333940; border-bottom: solid 3px #999; }
 
#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc url(/admin_media/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
.notice {margin: 0 0 7px 10px}
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'PPP Administration' %}</h1>
{% endblock %}

{% block nav-global %}<div class="notice">[PPP] PRE-ALPHA DEV - aka not for deployment!</div>{% endblock %}
