@mixin box-shadow($args1) {
    -webkit-box-shadow: $args1;
    -moz-box-shadow: $args1;
    box-shadow: $args1;
}

@mixin transform($args1) {
    -webkit-transform: $args1;
    -moz-transform: $args1;
    -ms-transform: $args1;
    -o-transform: $args1;
}

@mixin transition($duration, $style) {
    -webkit-transition: $duration $style;
    -moz-transition: $duration $style;
    -ms-transition: $duration $style;
    -o-transition: $duration $style;
    transition: $duration $style;
}
