/* line 1, ../sass/style.scss */
#background {
  height: auto;
  width: 100vw;
  background-color: #262426;
}

/* line 7, ../sass/style.scss */
.nav-container {
  height: auto;
  max-width: 100vw;
  margin: 0px 2em;
}

/* line 13, ../sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 17, ../sass/style.scss */
.nnt-orange {
  color: #ffc425;
}

/* line 22, ../sass/style.scss */
.nnt-purple {
  color: #a54499;
}

/* line 27, ../sass/style.scss */
#report-image {
  width: 141px;
  height: 200px;
}

/* line 32, ../sass/style.scss */
#nav-logo {
  width: auto;
  height: 1.7em;
  padding-top: 0.2em;
}

/* line 38, ../sass/style.scss */
#form-button-inline {
  padding-top: 1.6em;
}

/* line 42, ../sass/style.scss */
#form-background {
  background-color: #424242;
}

/* line 46, ../sass/style.scss */
#report-bar {
  padding-top: 0.4em;
}

/* line 50, ../sass/style.scss */
#sale-percentage {
  background-color: #a54499;
}

/* line 55, ../sass/style.scss */
.sale-text {
  font-size: 1.3em;
}

/* line 59, ../sass/style.scss */
.report-text {
  font-size: 1.2em;
}

/* line 63, ../sass/style.scss */
#cancelled {
  background-color: #faf3d1 !important;
}

/* line 67, ../sass/style.scss */
#collect {
  background-color: #c7e4f3 !important;
}
