{% extends 'show_base.html' %}
{% block content %}
  <div class="valign-wrapper" id="full-div">
    <div class="container center-align">
      <div class="row">
        <div class="col s6 offset-s3">
          <h4 class="light nnt-orange medium-text">Logged Out</h4>
          <br>
          <p class="light nnt-orange sale-text">
          Thank you for spending some time with us today, if you want you can...
          </p>
          <br>
          <button class="btn nnt purple waves-effect waves-dark" href="/login">
            Login Again
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}