{% extends 'show_base.html' %}
{% block head %}
  <title>{% block title %}Bye &middot; {% endblock %}</title>
{% endblock %}
{% block content %}
  <div class="valign-wrapper" id="full-div">
    <div class="container center-align">
      <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
          <h4 class="light nnt-orange medium-text">Logged Out</h4>
          <br>
          <p class="light nnt-orange sale-text">
          So long and thanks for all the fish, if you want you can...
          </p>
          <br>
          <a href="/">
          <button class="btn nnt purple waves-effect waves-dark">
            Login Again
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}